<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <title>Group Video Call</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.5/socket.io.js" integrity="sha512-2rUSTSAeOO02jF6eBqENNqPs1EohenJ5j+1dgDPdXSLz9nOlrr8DJk4zW/lDy8rjhGCSonW3Gx812XJQIKZKJQ==" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/style.css">


</head>

<body>
    <div class="main-wrap">
        <div class="call-wrap card" style="z-index: 99">
            <a id='meetingid' href="#" style="color: black;"></a>
            <div class="remote-video-wrap" id="remote-video" style="margin-bottom:0;background-color:rgb(131 131 131); display: flex;flex-wrap: wrap;">
                <div>
                    
                    <div id="localUser" class="userbox remote-user div-center" style="flex-direction: column; height:100%;">
                        <h5 class="div-center"><%= username %></h5>
                        <div class="div-center">
                            <video autoplay id="localStream" />
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="js/materialize.min.js"></script>
    <script src="js/client.js"></script>
    <script>

        var rtpAudioSender=[];
        var rtpVideoSender=[];
        var socketUrl="http://localhost:4000"
        var username="<%= username %>"
        var meeting_id="<%= meeting_id %>"
        var localUserVideo;
        var socket =io.connect(socketUrl)

        socket.on("connect",()=>{
            if(socket.connected){
                socket.emit("user_info_signaling_server",{
                    current_user_name:username,
                    meeting_id:meeting_id
                })
            }
            
            localConnectionID=socket.id;
            localUserVideo=document.getElementById("localStream")
            processMedia()
        })  
        
        socket.on("newConnectionInformation",function(other_users){

            $('#remote-video .other').remove();

            for (let i = 0; i < other_users.length; i++) {
                addUser(other_users[i].user_id,other_users[i].connectionId);
                
            }
        })

        socket.on("other_users_to_inform",function(data){
            addUser(data.other_user_id,data.connId);
        })

        function addUser(other_username,connId){
            $('#remote-video').append(`
                <div id="`+connId+`" class="remote-user other div-center-column">
                    <h5 class="div-center">`+other_username+`</h5>
                    <div class="div-center">
                        <video autoplay id="video_`+connId+`"></video>
                        <audio autoplay id="audio_`+connId+`"/>
                        </div>
                    </div>
            `)
        }

        function updateMediaSenders(track,rtpSender){

        }

        var audioTrack;
        var mediaTrack;
        async function processMedia(){
            try {
                var vstream=null;
                var astream=null;

                vstream=await navigator.mediaDevices.getUserMedia({
                    video:{
                        width:720,
                        height:480
                    },
                    audio:false
                })

                astream=await navigator.mediaDevices.getUserMedia({
                    video:false,
                    audio:true
                })
                audioTrack=astream.getAudioTracks()[0];
                audioTrack.enable=true; 

                updateMediaSenders(audioTrack,rtpAudioSender)


                mediaTrack=vstream.getVideoTracks()[0];
                localUserVideo.srcObject=new MediaStream([mediaTrack]);

                updateMediaSenders(mediaTrack,rtpVideoSender)

            } catch (error) {
                
            }
        }
    </script>

</body>

</html>
